    @model IPagedList<_Kurs_10_Dapper.ViewModels.GetAllinfoViewModel>

@using X.PagedList.Mvc.Core
@using X.PagedList
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Charts - Kaiadmin Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="/kaiadmin-lite-1.2.0/assets/img/kaiadmin/favicon.ico"
          type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
          google: { families: ["Public Sans:300,400,500,600,700"] },
          custom: {
            families: [
              "Font Awesome 5 Solid",
              "Font Awesome 5 Regular",
              "Font Awesome 5 Brands",
              "simple-line-icons",
            ],
            urls: ["/kaiadmin-lite-1.2.0/assets/css/fonts.min.css"], 
            // urls: ["../assets/css/fonts.min.css"],
          },
          active: function () {
            sessionStorage.fonts = true;
          },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/kaiadmin-lite-1.2.0/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/kaiadmin-lite-1.2.0/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/kaiadmin-lite-1.2.0/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/kaiadmin-lite-1.2.0/assets/css/demo.css" />
</head>
<body>
    <div class="wrapper">
        
        <div class="container">
            <div class="page-inner">
                <h3 class="fw-bold mb-3">Chart.js</h3>
                <div class="page-category">
                    Simple yet flexible JavaScript charting for designers &
                    developers. Please checkout their
                    <a href="http://www.chartjs.org/" target="_blank">full documentation</a>.
                </div>


                <div class="row">
                   
                    @await Component.InvokeAsync("_BrandPreferredInfoComponentPartial")

                    @await Component.InvokeAsync("_LineChartComponentPartial")
                    
                    @await Component.InvokeAsync("_BarChartComponentPartial") 
                    
                    @await Component.InvokeAsync("_PieChartComponentPartial")
                    
                    @await Component.InvokeAsync("_DoughnutChartComponentPartial")

                    @await Component.InvokeAsync("_MultipleLineChartComponentPartial")

                    @await Component.InvokeAsync("_MultipleBarChartComponentPartial")
                    
                 </div>

<form method="get" asp-controller="Sales" asp-action="Index" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Ad Soyad veya Ürün Ara..." value="@ViewBag.SearchText" />
        <button type="submit" class="btn btn-primary">Ara</button>
    </div>
</form>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Kullanıcı Listesi</div>
        </div>
        <div class="card-body">
            <div style="height: auto;">

                <table class="table table-hovered">
                    <tr>
                        <th>Tarih</th>
                        <th>Ad Soyad</th>
                        <th>Ürün</th>
                        <th>Miktar</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Fiyat</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DATE_.ToShortDateString()</td>
                            <td>@item.NAMESURNAME</td>
                            <td>@item.ITEMNAME</td>
                            <td>@item.AMOUNT</td>
                            <td>@item.PRICE</td>
                            <td>@item.TOTALPRICE</td>
                            <td>@item.CITY</td>
                            <td>@item.TOWN</td>
                        </tr>
                    }
                </table>

            </div>
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                         new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                })
            </div>
        </div>
    </div>
</div>

              </div>
        </div>
 </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--   Core JS Files   -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/kaiadmin-lite-1.2.0/assets/js/core/popper.min.js"></script>
    <script src="/kaiadmin-lite-1.2.0/assets/js/core/bootstrap.min.js"></script>
    <!-- Chart JS -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/kaiadmin.min.js"></script>
    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="/kaiadmin-lite-1.2.0/assets/js/setting-demo2.js"></script>
    <script>
    </script>
</body>
</html>